{% extends "base.html" %}

{% block content %}
<a href="{% url 'shelf:authors' %}">Powrót</a>
  <h1>{{ author }}</h1>

    <ul>
      {% for book in author.book_set.all %}
              <h2> Książki tegoż autora:</h2>
          <li>
              <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> (ISBN:
              {{book.isbn }}) {{ book.publisher }}
          </li>
        {% empty %}
             <p>There are no books of this author in the library.</p>
         {% endfor %}
    </ul>




{% endblock %}