{% extends "base.html" %}

{% block content %}
<a href="{% url 'shelf:authors' %}">Powrót do listy autorów</a>
  <h1>{{ author }}</h1>

        {% if author.book_set.all %}
              <h2> Książki tegoż autora:</h2>
        {% endif %}

    <ul>
      {% for book in author.book_set.all %}
          <li>
              <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>,
                {% for cat in book.categories.all %}
                   {{ cat }}{% if not forloop.last %}, {% endif %}
                {% endfor %} </li>
        {% empty %}
             <p>There are no books of this author in the library.</p>
        {% endfor %}
    </ul>




{% endblock %}